body {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "article"
    "footer";
 
}


header {
  grid-area: header;
  background-image: url('img.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 80vh; /* altura do banner */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  color: white;
  position: relative;
}
header::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4); /* escurece a imagem */
  z-index: 0;
}

header > * {
  position: relative;
  z-index: 1; /* garante que o conteúdo fique acima do escurecimento */
}
.banner{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.logo{
    display: flex;
    
    
}
.contato{
    display: flex;
    
  
    
}

.whatsapp {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: #25D366;
  font-weight: bold;
}

.whatsapp img {

  width: 20px;
  height: 20px;
  
  
  filter: brightness(0) saturate(100%) invert(43%) sepia(83%) saturate(536%) hue-rotate(96deg) brightness(96%) contrast(92%);
}
.contato>span{
  padding-right: 0.5rem;
}

.menu-toggle {
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  display: none;
  
}


.container-navegacao {
  width: 100%;
  overflow: hidden;
  transition: max-height 0.6s ease, opacity 0.6s ease;
}

.container-navegacao ul {
  list-style: none;
  display: flex;
  justify-content:center;
  gap: 1rem;
  padding: 0.5rem 0;
}

.container-navegacao a {
  color: rgb(230, 10, 10);
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background 0.3s, color 0.3s;
}

.container-navegacao a:hover {
  background-color: #555;
  color: #ffd700;
}



main{
  grid-area: main;
   background-color: brown;
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colunas de largura igual */
  gap: 1rem; /* espaço entre colunas (opcional) */
  padding: 2rem; /* espaçamento interno */
  color: white;
  background-color:blue;
  background-color: #25D366;
  
}
article{
  grid-area: article;
  background-color: brown;
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colunas de largura igual */
  gap: 1rem; /* espaço entre colunas (opcional) */
  padding: 2rem; /* espaçamento interno */
  color: white;
  background-color:blue;
  
}
footer {
  grid-area: footer;
  background-color: brown;
  height: 30vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colunas de largura igual */
  gap: 1rem; /* espaço entre colunas (opcional) */
  padding: 2rem; /* espaçamento interno */
  color: white;
}



 