@media (max-width: 768px) {

  header {
  
  padding: 0.5rem 0.5rem;
 
}
  .menu-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(54, 53, 53, 0.95);
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  overflow-y: auto; /* <- Habilita rolagem vertical */
  z-index: 1000;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in-out;
}


  .menu-fullscreen.active {
    transform: translateX(0);
  }

  .menu-fullscreen ul {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    width: 100%;
    
  }

  .menu-fullscreen li {
    flex: 1; /* faz cada link ocupar espaço igual verticalmente */
    width: 100%;
    
  }

  .menu-fullscreen a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%; /* ocupa toda a altura da li */
    font-size: clamp(1rem, 4vw, 1.3rem);
    padding: 0 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    transition: background 0.3s, color 0.3s;
  }

  .menu-fullscreen a:hover {
    background-color: white;
    color: black;
    
    
  }

  .menu-fullscreen .icon {
    font-size: 1.8rem;
    margin-bottom: 0.4rem;
  }

  .menu-fullscreen .label {
    font-size: 1rem;
  }

  .logo>img{
    
  top: 1rem;
  right: 1rem;
  max-width: 50%;
    
    
    
}
}
.menu-toggle { /* configuração do toggle para mobile*/
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  z-index: 1100;
  position: fixed;
  top: 1rem;
  right: 1rem;
  

}



@media (max-width: 768px) {
  .menu-toggle {
    display: block; /* mostra no mobile */
  }
}
